@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

body {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  @apply bg-gray-50;
}
.ant-btn-primary {
  /* Tailwinde ile, renk çakışması oldu */
  background-color: #1677ff;
}
#registerForm .login-form {
  /* max-width: 400px; */
}
#registerForm .login-form-forgot {
  float: right;
}
#registerForm .ant-col-rtl .login-form-forgot {
  float: left;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .categories::-webkit-scrollbar{
    display: none;
  }
}

